<div class="span0 well text-center vote">
  <% if logged_in? %>
    <%= link_to vote_post_path(object, vote: true), method: 'post' do %>
      <%= upvote_arrow(object) %>
    <% end %>
  <% end %>
  <br>
  <%= object.total_votes %> votes
  <br>
  <% if logged_in? %>
    <%= link_to vote_post_path(object, vote: false), method: 'post' do %>
      <%= downvote_arrow(object) %>
    <% end %>
  <% end %>
</div>
